<div *ngIf="reports" class="reports-container">
    <div class="flex-center">
        <a #DownloadAsJson (click)="downloadAsJson(DownloadAsJson)">
            <button pButton type="button" label="Download as json" class="p-button-success"></button>
        </a>
        <a #DownloadAsTxt (click)="downloadAsTxt(DownloadAsTxt)">
            <button pButton type="button" label="Download as txt" class="p-button-primary"></button>
        </a>
    </div>
<!--    <div style="width: 100%;">-->
<!--        <textarea class="json-textbox" rows="30" cols="100" [value]="reports | removeCommentsPipe"></textarea>-->
<!--    </div>-->
    <pre class="pre-json"><span>{{reports | removeCommentsPipe}}</span></pre>
</div>
