::ng-deep .p-fileupload{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}

::ng-deep .p-fileupload p-button{
display: none;
}

::ng-deep .p-fileupload-buttonbar{
text-align: center;
}

::ng-deep .p-fileupload-content{
    height: 100px;
    border: 2px #8d88c3  dashed !important;
}

::ng-deep .p-fileupload-files .ng-star-inserted{
    margin-top: -2%;
}

@media screen and (max-width: 992px) {
    ::ng-deep .p-fileupload{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
}